.beautiful {
    background: cyan;
}

.pretty {
    font-family: "Comic Sans MS";
}

#main {
    border: 5px solid purple;
}

.boxes > li {
    border: 2px solid blue;
    margin-bottom: 3px;
    padding: 3px;
}
