{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}


    <span class="pull-right">

    <a class="btn btn-danger"
       href="{% url "expenses:delete" object.id %}"><span
            class="glyphicon glyphicon-trash"></span> Delete</a>

        &nbsp;

    <a class="btn btn-primary"
       href="{% url "expenses:update" object.id %}"><span
            class="glyphicon glyphicon-pencil"></span> Edit</a>



    </span>

    <h1>


        Expense #{{ object.id }}
    </h1>
    <ul>
        <li>
            <b>Title</b>: {{ object.title }}
            {% for category in object.categories.all %}
                <span class="label label-info">{{ category.name }}</span>
            {% endfor %}

        </li>
        <li>
            <b>Date</b>: {{ object.date }}
        </li>
        <li>
            <b>Amount</b>: ${{ object.amount }}
        </li>
        {% if object.description %}
            <li>
                <b>Description</b>: {{ object.description|linebreaksbr }}
            </li>
        {% endif %}
        {% if object.picture %}
            <div class="thumbnail">
                <img src="{{ object.picture.url }}" alt="">
            </div>
        {% endif %}
    </ul>

    <ul class="list-group">
        {% for comment in object.comments.all %}
            <li class="list-group-item" id="comment-{{ comment.id }}">
                <p><i>@{{ comment.added_at }}:</i></p>
                {{ comment.content|linebreaks }}
            </li>
        {% endfor %}
        <li class="list-group-item">
{#            <form method="post" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                {% bootstrap_form form %}#}
{#                {% buttons %}#}
{#                    <button type="submit" class="btn btn-primary">#}
{#                        {% bootstrap_icon "save" %} Add#}
{#                    </button>#}
{#                {% endbuttons %}#}
{#            </form>#}
        </li>

    </ul>


{% endblock %}
