{% extends "base.html" %}

{% block content %}


    <a class="btn btn-primary pull-right" href="{% url "expenses:update" object.id %}"><span
            class="glyphicon glyphicon-pencil"></span> Edit</a>
    <h1>


        Expense #{{ object.id }}
    </h1>
    <ul>
        <li>
            <b>Title</b>: {{ object.title }}
        </li>
        <li>
            <b>Date</b>: {{ object.date }}
        </li>
        <li>
            <b>Amount</b>: ${{ object.amount }}
        </li>
        {% if object.description %}
            <li>
                <b>Description</b>: {{ object.description|linebreaksbr }}
            </li>
        {% endif %}
        {% if object.picture %}
            <div class="thumbnail">
                <img src="{{ object.picture.url }}" alt="">
            </div>
        {% endif %}
    </ul>

    <ul class="list-group">
        {% for comment in object.comments.all %}
            <li class="list-group-item">
                <p><i>@{{ comment.added_at }}:</i></p>
                {{ comment.content|linebreaks }}
            </li>
        {% endfor %}
    </ul>


{% endblock %}
