{% extends "base.html" %}

{% block title %}
    {% if year %}
        Expenses for {{ year }}
        {% if month %}
            / {{ month }}
        {% endif %}
    {% else %}
        Home
    {% endif %}
{% endblock %}

{% block content %}

    <h3>
        {% if term %}
            Search results for <i>"{{ term }}"</i>:
        {% endif %}
        {{ objects.count }} expenses (total: {{ total }})
    </h3>

    <ul>
        {% for object in objects %}
            <li>
                <a href="{% url "expenses:detail" object.id %}">{{ object.date }}: {{ object.amount }} {{ object.title }}</a>
                {% for category in object.categories.all %}
                    <span class="label label-info">{{ category.name }}</span>
                {% endfor %}

            </li>
        {% endfor %}
    </ul>

    <hr>

    <p>
        <a href="{% url "expenses:feedback" %}">Send feedback...</a>
    </p>

{% endblock %}
