{% extends "base.html" %}

{% block title %}
    {% if year %}
        Expenses for {{ year }}
        {% if month %}
            / {{ month }}
        {% endif %}
    {% else %}
        Home
    {% endif %}
{% endblock %}

{% block content %}

    <h3>
        {{ objects.count }} expenses (total: {{ total }})
    </h3>

    <ul>
        {% for object in objects %}
            <li>
                <a href="{% url "expenses:detail" object.id %}">{{ object.date }}: {{ object.amount }} {{ object.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <hr>

    <p>
        <a href="{% url "expenses:feedback" %}">Send feedback...</a>
    </p>

{% endblock %}
